body {
	background: url{"projectAssets/images/background.jpg" no-repeat cover;
	}
/* .background {
	background-image: url("projectAssets/images/background.jpg");
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 1374px;
	height: 761px;
	z-index: -1;


} */
.bannerStripe {
	background-image: url("projectAssets/images/stripes.png");
	background-repeat: repeat-x;
	height: 13px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	
	}
hr {
	width: 75px;
	border: 1px solid #ff7070;
}
p {
	font-family:  "Lucida Sans Unicode", sans-serif;
	color: #ffffff;
	font-size: 25px;
}

#landing {
	margin:400px 0 0 100px;
}
