body {

	
	background-color: #525A6A;
	z-index: 1;

	}
.background {
	background-image: url("projectAssets/images/background.jpg");
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 1374px;
	height: 761px;
	z-index: -1;


}
.bannerStripe {
	background-image: url("projectAssets/images/stripes.png");
	height: 13px;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	
	}

a {
	margin-left: 100px;
}

h1 {
	margin-left: 100px;
}

hr {
	width: 75px;
	margin-left: 100px;
	border: 1px solid #ff7070;

}

p {
	font-family:  "Lucida Sans Unicode";
	color: #ffffff;
	margin-left: 100px;
	letter-spacing: 2px;
	font-size: 25px;
	
	
}

#landing {
	margin-top: 400px;
}
